Project1/bin/
Project1/lib/
Project1/.classpath
Project1/.project
Project2/bin/
Project2/lib/
Project2/.classpath
Project2/.project
hw3/Debug
hw3/.classpath
hw3/.project
hw3/.settings
hw4/Debug
hw4/.classpath
hw4/.project
hw4/.settings
.metadata/
.recommenders/
